<link
  rel="stylesheet"
  as="style"
  crossorigin
  href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css"
>
<link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}?v={{ site.time | date: '%s' }}">
{% if page.layout == 'post' or page.layout == 'home' %}
  {% if site.kakao.javascript_key and site.kakao.javascript_key != empty %}
    <script
      src="https://t1.kakaocdn.net/kakao_js_sdk/2.8.2/kakao.min.js"
      integrity="sha384-zt/G7/KfaRQ9dT/QIkS0ujMtzouJqzuSJcXVQu50x0rl/+mD1dc70AeOejVbMD9E"
      crossorigin="anonymous"
      defer
    ></script>
    <script>
      window.MOKKY_KAKAO_JS_KEY = {{ site.kakao.javascript_key | jsonify }};
    </script>
  {% endif %}
  <script defer src="{{ '/assets/js/share.js' | relative_url }}?v={{ site.time | date: '%s' }}"></script>
{% endif %}
